
    
    <form class="container">
        <div [formGroup]="locationForm" class="form-box"  >
            <div class="header">
                Location Share
            </div>
            <div  class="form" >
                <div class="form-group">
                    <label for="descLable" class="label">Location name*</label>
                    <input   type="text" fieldSize="medium" autocomplete="off" nbInput  fullWidth id="descLable" placeholder="" formControlName="locationName">
                </div>
                <div class="form-group">
                    <label for="descLable" class="label">Location on map*</label>
                    <div class="map-container">
                        <div class="map">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descLable" class="label">Location type*</label>
                    <select   fieldSize="medium" [(ngModel)]="locationType" required fullWidth formControlName="locationType">
                            <option  value="business"  selected="selected">Business</option>
                                <option  value="home">Home</option>
                                    <option  value="park">Park</option>
                     </select>
                </div>
                <div class="form-group logo">
                    <div class="title-box">
                        <p>Logo:</p>
                    </div>
                    <div class="logo-box">

                        <label for="file-input" class="label">
                            <img class="upload-img" src="assets/upload.png"/>
                        </label>
                        <input   type="file" style="visibility: hidden;" id="file-input"  (change)="onFileSelect($event)"    formControlName="file">
                    </div>
                </div>
            </div>
        </div>
        <div class="button-box" >
            <button type="submit"   class="submit booking"  (click)="tobooking()">
                Booking page
            </button>
            <button type="reset" class="cancel"    (click)="reset()"   >
                cancel
            </button>
            <button type="submit"   class="submit"  (click)="onSubmit()">
                save
            </button>
        </div>
        <p class="alert" *ngIf="showAlert">Please fill all the fields.</p>
        <p class="success" *ngIf="showSuccess">Location successfully saved.</p>
    </form>



